version: 2
jobs:
  qa:
    docker:
      - image: giona69/php8.1.5-node-aws
    steps:
      - checkout
      - run: yarn install
      - run: yarn list
      - run: yarn lint
      - run: yarn test
      - run: npm install --package-lock-only

  build-stage:
    docker:
      - image: giona69/php8.1.5-node-aws
    steps:
      - checkout
      - run: yarn install
      - run: npm install --package-lock-only
      - run: yarn build
      - run: rm -rf node_modules
      - run: find .platform/hooks/ -exec chmod +x {} \;
      - run: eb deploy connexia-node-api-stage

  build-prod:
    docker:
      - image: giona69/php8.1.5-node-aws
    steps:
      - checkout
      - run: yarn install
      - run: npm install --package-lock-only
      - run: yarn build
      - run: rm -rf node_modules
      - run: find .platform/hooks/ -exec chmod +x {} \;
      - run: eb deploy connexia-node-api-prod

workflows:
  version: 2
  clinic-api:
    jobs:
      - qa:
          filters:
            tags:
              only: /.*/
      - build-stage:
          requires:
            - qa
          filters:
            branches:
              only: /^feature.*/
      - build-prod:
          requires:
            - qa
          filters:
            branches:
              only: master
